:root {
  --primary-color: rgb(242, 212, 212);
  --background-color: rgb(244, 243, 243);
  --font-family-base: Google Sans, Roboto, Helvetica, Arial, sans-serif;
  --font-family-headings: Google Sans, Roboto, Helvetica, Arial, sans-serif;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
  width: 100%;
}
a:link {
  text-decoration: none;
}

/* Header Sectoin */

.navbar {
  background-color:var(--background-color);
  overflow: hidden;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
}
.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
img{
  width: 180px;
  height: 30px;
  margin-right: 10rem;
}

.nav-item {
  position: relative;
  padding: 0 20px;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Responsive */



@media (max-width: 768px) {
  .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .nav-item {
      text-align: center;
      padding: 14px 0;
  }

}
